* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.header {
    color: #66FCF1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B0C10;
    padding: 24px 30vh 0px 30vh;
}
.header .logo {
    font-size: 24px;
    font-weight: bold;
}
.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}
.header ul li {
    color: #45A29E;
    font-size: 18px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #66fcf1;
    background-color: #0b0C10;
    padding-top: 70px;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-bottom: 70px;
}
.section1 .info #line1 {
    font-size: 48px;
    font-weight: 900;
    max-width: 500px;
}
.section1 .info #line2 {
    font-size: 18px;
    max-width: 500px;
    margin-top: 10px;
    color: #C5C6C7;
}
.section1 .info button {
    background-color: #ffffff00;
    border: 2px solid #45A29E;
    border-radius: 6px;
    width: 110px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}
.section1 .imgbox {
    display: contents;
}
.section1 img {
    width: 700px;
    height: auto;
    border: 3px solid #45A29E;
    border-radius: 6px;
}

.section2 {
    text-align: center;
    background-color: #1F2833;
    padding-top: 24px;
    padding-bottom: 24px;
    color: white;
}
.section2 #line1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 24px;
}
.section2 .container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 24px;
}
.section2 .container .box img {
    width: 200px;
    border: 4px solid #45A29E;
    border-radius: 6px;
}
.section2 .container .text {
    margin-top: 12px;
    width: 240px;
}