* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4976C;
    padding: 24px 30vh 0px 30vh;
}
.header .logo {
    font-size: 24px;
    font-weight: bold;
}
.header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 24px;
}
.header ul li {
    color: black;
    font-size: 18px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4976C;
    padding-top: 100px;
    padding-left: 30vh;
    padding-right: 30vh;
    padding-bottom: 100px;
}
.section1 .info #line1 {
    font-size: 48px;
    font-weight: 900;
    max-width: 600px;
}
.section1 .info #line2 {
    font-size: 18px;
    max-width: 600px;
    margin-top: 10px;
}
.section1 .info button {
    background-color: #303C6C;
    border: 2px solid #FBE8A6;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #FBE8A6;
    margin-top: 10px;
}
.section1 .imgbox {
    display: contents;
}
.section1 img {
    width: 700px;
    height: auto;
    border: 3px solid #FBE8A6;
    border-radius: 6px;
}